table {
  overflow: auto;
  max-height: 500px;
  width: 100%;

}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500vh;

}
.head{
  margin-top:7%;
  margin-left: 35%;
  margin-bottom: -9%;
}
