<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id" style="color:black">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="valorNominal" style="color:black">
    <th mat-header-cell *matHeaderCellDef> valor nominal </th>
    <td mat-cell *matCellDef="let element"> {{element.valorNominal}} </td>
  </ng-container>

  <ng-container matColumnDef="valorIndexado">
    <th mat-header-cell *matHeaderCellDef> valor indexado </th>
    <td mat-cell *matCellDef="let element"> {{element.valorIndexado}} </td>
  </ng-container>

  <ng-container matColumnDef="tep">
    <th mat-header-cell *matHeaderCellDef> TEP </th>
    <td mat-cell *matCellDef="let element"> {{element.tep}} </td>
  </ng-container>

  <ng-container matColumnDef="cupon">
    <th mat-header-cell *matHeaderCellDef> cupon </th>
    <td mat-cell *matCellDef="let element"> {{element.cupon}} </td>
  </ng-container>

  <ng-container matColumnDef="inflacion">
    <th mat-header-cell *matHeaderCellDef> inflacion </th>
    <td mat-cell *matCellDef="let element"> {{element.inflacion}} </td>
  </ng-container>

  <ng-container matColumnDef="amortizacion">
    <th mat-header-cell *matHeaderCellDef> amortizacion </th>
    <td mat-cell *matCellDef="let element"> {{element.amortizacion}} </td>
  </ng-container>

  <ng-container matColumnDef="cuota">
    <th mat-header-cell *matHeaderCellDef> cuota </th>
    <td mat-cell *matCellDef="let element"> {{element.cuota}} </td>
  </ng-container>

  <ng-container matColumnDef="flujo">
    <th mat-header-cell *matHeaderCellDef> flujo emisor </th>
    <td mat-cell *matCellDef="let element"> {{element.flujo}} </td>
  </ng-container>

  <ng-container matColumnDef="prima">
    <th mat-header-cell *matHeaderCellDef> prima </th>
    <td mat-cell *matCellDef="let element"> {{element.prima}} </td>
  </ng-container>

  <ng-container matColumnDef="escudo">
    <th mat-header-cell *matHeaderCellDef> escudo </th>
    <td mat-cell *matCellDef="let element"> {{element.escudo}} </td>
  </ng-container>

  <ng-container matColumnDef="flujoEmisorEscudo">
    <th mat-header-cell *matHeaderCellDef> flujo emisor escudo </th>
    <td mat-cell *matCellDef="let element"> {{element.flujoEmisorEscudo}} </td>
  </ng-container>

  <ng-container matColumnDef="flujoBonista">
    <th mat-header-cell *matHeaderCellDef> flujo bonista </th>
    <td mat-cell *matCellDef="let element"> {{element.flujoBonista}} </td>
  </ng-container>

  <ng-container matColumnDef="flujoAct">
    <th mat-header-cell *matHeaderCellDef> flujo act. </th>
    <td mat-cell *matCellDef="let element"> {{element.flujoAct}} </td>
  </ng-container>

  <ng-container matColumnDef="faxplazo">
    <th mat-header-cell *matHeaderCellDef> FA x plazo </th>
    <td mat-cell *matCellDef="let element"> {{element.faxplazo}} </td>
  </ng-container>

  <ng-container matColumnDef="factorpConvexidad">
    <th mat-header-cell *matHeaderCellDef> factorp convexidad </th>
    <td mat-cell *matCellDef="let element"> {{element.factorpConvexidad}} </td>
  </ng-container>

  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef> User ID </th>
    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
<mat-card-actions>
  <mat-button-toggle (click)="resetear()" style="margin-left:40%; background-color: #e80a3d; color:white; font-family: 'Arial Black',serif"> Resetear</mat-button-toggle>
</mat-card-actions>
