<div class="main" style="flex-wrap: wrap; background-color: white">
  <mat-card style="flex-wrap: wrap;display:flex">
<mat-card-content style="">

<mat-card-header style="font-family:bold,serif; font-size:20px">Ingrese los datos</mat-card-header>

  <form id="publish-form"  class="contenedor" [formGroup]="BonoForm" novalidate style="margin:3%;padding:1%;width: 100% ;flex-wrap: wrap;">

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese cantidad bono coorporativo</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="bono" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrese el tipo de moneda</mat-label>
      <mat-select #moneda>
        <mat-option value="sol">Sol</mat-option>
        <mat-option value="dolar">Dolar</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese frecuencia de pago en dias</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="dias" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese el numero de años a pagar</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="anios" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrese el tipo de tasa</mat-label>
      <mat-select #tipo_tasa>
        <mat-option value="efectiva">Tasa efectiva</mat-option>
        <mat-option value="nominal">Tasa nominal</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese la capitalización en dias</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="capitalizacion" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese la tasa de interés</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="tasa_interes" placeholder="Enter Message"/>
    </mat-form-field>


    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese le fecha de emision</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="date" formControlName="fecha_emision" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese el cok según el flujo de pagos</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="cok" placeholder="Enter Message"/>
    </mat-form-field>
    <mat-card-actions class="modal-footer" style="align-items: center;justify-content: space-between;margin-left: 25%">
      <button style="align-content: center;text-align: center;align-items: center" mat-raised-button type="button" class="btn btn-danger" (click)="calcular_cronograma(moneda.value,tipo_tasa.value)">Calcular Cronograma</button>
      <mat-divider></mat-divider>
      <button style="align-content: center;text-align: center;align-items: center" mat-raised-button type="button" class="btn btn-danger" (click)="ver_indicadores()">Indicadores de rentabilidad</button>
    </mat-card-actions>


  </form>
</mat-card-content>



  </mat-card>

</div>
