<ng-template #contenido let-modal>
  <div class="model-header">
    <h4 class="nodal-title">Indicadores de Rentabilidad</h4>
    <button class="close" aria-label="close" type="button"(click)="modal-dissmis()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Contenido:{{cok}}
    Van: {{van}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success"(click)="modal-close()">Listo!</button>
  </div>
</ng-template>
<div class="main" style="flex-wrap: wrap; background-color: white">
  <mat-card style="flex-wrap: wrap;display:flex">
<mat-card-content style="">
  

<mat-card-header style="font-family:bold,serif; font-size:20px">Ingrese los datos</mat-card-header>

  <form id="publish-form"  class="contenedor" [formGroup]="BonoForm" novalidate style="margin:3%;padding:1%;width: 100% ;flex-wrap: wrap;">

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese valor nominal</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="valor_nominal" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese valor comercial</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="valor_comercial" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrese el tipo de moneda</mat-label>
      <mat-select #moneda>
        <mat-option value="sol">Sol</mat-option>
        <mat-option value="dolar">Dolar</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese frecuencia de pago en dias</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="dias" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese el plazo en años</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="anios" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese la inflacion %</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="inflacion" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrese el tipo de tasa cupon</mat-label>
      <mat-select #tipo_tasa>
        <mat-option value="efectiva">Tasa efectiva</mat-option>
        <mat-option value="nominal">Tasa nominal</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese la tasa cupon %</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="tasa_interes_cupon" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese la tasa de interes de mercado %</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="tasa_interes_mercado" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese la capitalización en dias</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="capitalizacion" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese flotacion en %</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="flotacion" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese CAVALI en %</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="cavali" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese le fecha de emision</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="date" formControlName="fecha_emision" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese la prima de redencion en %</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="prima" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-form-field class="flexbox" appearance="fill" style="padding: 2%">
      <mat-label>Ingrese el impuesto a la renta %</mat-label>
      <mat-hint>Mandatory</mat-hint>
      <input matInput type="number" formControlName="impuesto" placeholder="Enter Message"/>
    </mat-form-field>

    <mat-card-actions class="modal-footer" style="align-items: center;justify-content: space-between;margin-left: 25%">
      <button style="align-content: center;text-align: center;align-items: center" mat-raised-button type="button" class="btn btn-danger" (click)="calcular_cronograma(moneda.value,tipo_tasa.value)">Calcular Cronograma</button>
      <mat-divider></mat-divider>
      
      <button style="align-content: center;text-align: center;align-items: center" mat-raised-button type="button" class="btn btn-outline-danger" (click)="ver_indicadores(contenido)">Indicadores de rentabilidad</button>
    </mat-card-actions>
  

  </form>
</mat-card-content>



  </mat-card>
  

</div>
